@font-face {
  font-family: MonotonRegular;
  src: url(fonts/Monoton-Regular.ttf);
}

@font-face {
  font-family: MysteryQuestRegular;
  src: url(fonts/MysteryQuest-Regular.ttf);
}

body {
  background-color: #40e0d0;
  text-align: center;
}

h1 {
  background-color: white;
  color: #32CD32;
  font-family: MonotonRegular;
  font-size: 64px;
  font-weight: normal;
}

#turtle,
#baseball {
  width: 400px;
}

#end {
  background-color: white;
  font-size: 64px;
  font-family: MysteryQuestRegular;
  color: #32CD32;
}

#carnage {
  position: fixed;
  bottom: 0;
  left: 20px;
  width: 100px;
}

#riot {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 120px;
}
